.content {
    padding-top: 40px;
    margin-bottom: 60px;


    @media (max-width: $md4+px) {
        padding-top: 25px;
        margin-bottom: 40px;
    }

    &__body {
        min-width: 0;
        @media (min-width: 992px) {
            display: flex;
        }
    }

    &__col-1 {
        @media (min-width: 992px) {
            flex: 0 0 64.15%;
            padding-right: 40px;
            margin-right: 40px;
            border-right: 1px solid #e1e1e1;    
        }

        @media (max-width: $md2+px) {
            margin-bottom: 60px;
        }
        @media (max-width: $md4+px) {
            margin-bottom: 40px;
        }
    }

    &__col-2 {
        min-width: 0;
        @media (min-width: 992px) {
            flex: 1 1 auto;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 60px;

            @media (max-width: $md4+px) {
                margin-bottom: 30px;
            }
        }

        & > * {
            &:last-child {
                margin-bottom: 0;
            }
        }

    }

    &__title {
        margin-bottom: 22px;

        @media (max-width: $md4+px) {
            margin-bottom: 20px;
        }
    }
}

.news-list {
    margin-bottom: 30px;
    & > li {
        @media (min-width: 576px) {
            padding: 30px 0;
            border-bottom: 1px solid #e1e1e1;
    
            &:first-child {
                padding-top: 0;
            }
        }

        @media (max-width: 575.98px) {
            margin-bottom: 20px;
        }
    }
}

.new-card {
    display: flex;
    color: $textColor;

    @media (min-width: 992px) {
        &:hover {
            & .new-card__title {
                color: $mainColor;
            }
        }
    }

    &.small {
        & .new-card__img {
            flex: 0 0 100px;
            height: 100px;
            margin-right: 15px;
        }

        & .new-card__title {
            font-size: 16px;
            line-height: 19px;
            color: #071d49;
        }
    }

    &:not(.small) {
        @media (max-width: 575.98px) {
            display: block;
        }
    }

    &__img {
        flex: 0 0 50.07%;
        height: 180px;
        margin-right: 20px;

        @media (max-width: 575.98px) {
            margin-right: 0;
            height: 194px;
            margin-bottom: 10px;
        }
    }

    &__text-wrap {
    }

    &__title {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 15px;
        transition: all 0.3s ease;
    }

    &__time {
        display: flex;
        color: $textLightColor;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;

        & img {
            flex: 0 0 auto;
            width: 18px;
            height: auto;
            margin-right: 5px;
        }
    }
}

.latest-news {
    margin-bottom: 40px;

    @media (max-width: $md4+px) {
        margin-bottom: 34px;
    }
    &__title {
        margin-bottom: 20px;
    }

    &__list {
        & > li {
            margin-bottom: 20px;
        }
    }
}

.media {
    margin-bottom: 40px;
    @media (max-width: $md4+px) {
        margin-bottom: 34px;
    }
    &__title {
        margin-bottom: 20px;
    }

    &__list {
        & > li {
            margin-bottom: 20px;
        }
    }
}

.card-media {
    display: block;
    color: $textColor;

    @media (min-width: 992px) {
        &:hover {
            & .card-media__text {
                color: $mainColor;
            }
        }
    }
    &__img-wrap {
        position: relative;
        margin-bottom: 10px;
    }

    &__img {
        height: 170px;
    }

    &__label {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        padding: 10px;

        & img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }
    }

    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.1875em;
        transition: all .3s ease;
    }
}
