.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(#071d49, 0.7);
	z-index: 50;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.8s ease 0s;

	&.open {
		opacity: 1;
		visibility: visible;

		& .popup_content {
			opacity: 1;
		}
	}

	&_body {
		min-height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1.5rem 3rem;

		@media (max-width: $md3+px) {
			padding: 1.5rem;
		}
	}

	&_content {
		background: #fff;
		max-width: 500px;
		position: relative;
		width: 100%;
		transition: all 0.8s ease 0s;
		opacity: 0;
		outline: 0;
	}
}

.popup-close {
	width: 24px;
	height: 24px;
	cursor: pointer;
	transition: all 0.3s ease;
	display: flex;
	justify-content: center;
	align-items: center;

	& img {
		width: 100%;
		height: 100%;
	}

	@media (min-width: 992px) {
		&:hover {
			background-color: rgba(#071d49, 0.1);
		}
	}
}

.popup {
	&_content-wrap {
		padding: 20px 30px 30px;
	}

	&_text {
		padding-top: 10px;
	}

	&__head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 88px;
		padding: 20px 30px;
		border-bottom: 3px solid $mainColor;
	}

	&__title {
		margin-right: 20px;
	}
}

.popup-form {
	&__item {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__label {
		display: block;
		margin-bottom: 5px;
		font-size: 14px;
		line-height: 16px;
		color: #b2b4b2;

		& > span {
			color: red;
		}
	}

	& .btn-default {
		min-height: 42px;
	}
}
